html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  margin: .01em;
}

.btn {
  display: inline-block;
  border: solid 3px #000;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  margin: .5em;
  padding: .4em;
  border: 3px solid #666;
  background-color: #666;
}

.btn-primary {
  font-size: 1.125rem;
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle:hover {
  font-size: 1.5rem;
  color: #ccc;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #ccc;
}

.btn-ghost:hover {
  font-size: 1.5rem;
}

.btn-ghost {
  border-width: 3px;
  background-color: #fff;
  color: #000;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-warning {
  background-color: #f33;
  border-color: #f33;
}
